<!DOCTYPE html>
<html>
<div id="content2">
    <h1>Meet our team!</h1>
    <div id="portraits">
        <div id="portrait1" class="portrait">
            <img src="images/Spence.png">
            <p>First up is Spence! She's the heart of our group!</p>
        </div>
        <div id="portrait2" class="portrait">
            <img src="images/Nolan.jpg">
            <p>This is Nolan! He's the talent, brains, looks, </p>
            <p>and humble leader of our group :)</p>
        </div>
        <div id="portrait3" class="portrait">
            <img src="images/James.png">
            <p>Meet James! The Rascal of our crew!</p>
        </div>
        <div id="portrait4" class="portrait">
            <img src="images/bully.png">
            <p>this is kurt.</p>
        </div>
    </div>
</div>

</html>