<!DOCTYPE html>
<html>
<div id="content2">
    <p>The concept and name of the carbon footprint derive from the ecological footprint concept,[10] which was
        developed by William E. Rees and Mathis Wackernagel in the 1990s. While carbon footprints are usually reported
        in tons of emissions (CO2-equivalent) per year, ecological footprints are usually reported in comparison to what
        the planet can renew. This assesses the number of "earths" that would be required if everyone on the planet
        consumed resources at the same level as the person calculating their ecological footprint. The carbon footprint
        is one part of the ecological footprint. Carbon footprints are more focused than ecological footprints since
        they measure merely emissions of gases that cause climate change into the atmosphere.

        Carbon footprint is one of a family of footprint indicators,[11] which also include ecological footprints, water
        footprints and land footprints.

        The carbon part was popularized by a large campaign of BP in 2005, designed by Ogilvy .[10] The deceptive PR
        campaign instructed individuals to calculate their personal footprints and provided ways for people to lower
        their own impact, while BP itself continued to extract just as much fossil fuels.[12] The use of household
        carbon footprint calculators was called "effective propaganda" as strategic communication to shift
        responsibility of climate change-causing pollution away from the corporations and institutions that created a
        society where carbon emissions are unavoidable and onto personal lifestyle choices.[12]</p>
</div>

</html>