<!DOCTYPE html>
<html lang="en">

<head>
  <title>Soot Sleuth Party Page!</title>
  <link rel="icon" href="images/star.png">
  <meta charset="utf-8" />
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap" rel="stylesheet">
</head>


<body>

  <div id="content1">tests</div>
  <div id="content2"></div>
  <div id="content3"></div>
  <form action="/logout" method="get" id="logout">
    <input type="submit" value="Logout" />
  </form>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="scripts/client.js"></script>
</body>

</html>